  	<div class="content-wrap">
     <header class="hero-area" id="home">      
        <div class="container">
          <div class="col-md-12">
              <div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
                <div class="container">
                  <div class="navbar-header">
                    <a class="logo-left " href="#"><i class="mdi-image-timelapse"></i>A.R.M.A.N.</a>
                  </div>
                  <!--<div class="navbar-right">
                    <button class="menu-icon" id="open-button">
                      <i class="mdi-navigation-menu" ng-click="showpara()"></i>
                    </button>                   
                  </div>-->
                </div>
              </div>
          </div>        
          <div class="contents text-right">
            <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">A.R.M.A.N. - Initiative for Social cause</h1>
            <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Catch the Extreme Fever and enjoy a wild new take on A.R.M.A.N.</p>
            <!--<a href="#why" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Download</a>
            <a href="#features" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Learn More</a>-->
          </div> 
        </div>  
      </header>

    <section id="features" class="section">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">App Features</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Who seeks after it and wants to have it</h2>
        </div>
        <div class="row">          
          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-stars"></i>
              </div>
              <div class="features-text">
                <h4>Leaderboard</h4>
                <p>
                  Be the leader or an MVP on someone else's, then compete. Rack up points on your own or together while racing from Bronze towards Gold Ribbon glory.
New tasks start every other Thursday. Want in on the action? Get ready to take challenge today!
                </p>
              </div>
             </div>
          </div>


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-done-all"></i>
              </div>
              <div class="features-text">
                <h4>Tasks</h4>
                <p>
                  These tasks will give you an opportunity to compete with others and give your help to social society.                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="features">
              <div class="icon">
                <i class="mdi-action-wallet-giftcard"></i>
              </div>
              <div class="features-text">
                <h4>Prizes</h4>
                <p>
                  You can even win lots of prizes by completing the tasks in the given time span.
                </p>
              </div>
            </div>
          </div>            


             
        </div>
			</div>
		
	</div>
      </div>
    </section>

    <section id="why" class="section">
      <div class="container">
        
        <div class="row">     

          <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="assets/img/home_image.png" alt="">
          </div>

          <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="pull-left content">
              <h2>This is Why You Will <br> Love A.R.M.A.N.</h2>
              <p>
                Be the leader or an MVP on someone else's, then compete. Rack up points on your own or together while racing from Bronze towards Gold Ribbon glory.
New tasks start every other Thursday. Want in on the action? Get ready to take challenge today! <br>
                These tasks will give you an opportunity to compete with others and give your help to social society. <br>
                eumetur adipIusto quisquam idodit dolore inventore eum'
                You can even win lots of prizes by completing the tasks in the given time span.<br>
              </p>
              <ul class="list-item">
                <li><i class="mdi-action-done"></i>Play game</li>
                <li><i class="mdi-action-done"></i>Earn points</li>
                <li><i class="mdi-action-done"></i>Win prizes</li>
                <li><i class="mdi-action-done"></i>Help in noble cause</li>                
              </ul>
              <!--<a href="javascript:void(0)" class="btn btn-lg btn-primary">Go to MESSENGER!</a>-->
            </div>
          </div>
        </div>
      </div>
    </section>

     <section id="main-features" class="section main-feature-gray">
      <div class="container">

        <div class="row">   
          <div class="col-md-8 col-sm-8 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="feature-item">
              <h3 class="title-small">
                Leaderboard!
              </h3>
              <table>
<thead>
<tr>
<th>Rank</th>
<th>Player's Name</th>
<th>Score</th>
<th>Tasks Completed</th>
</tr></thead>
<tbody>
<tr>
<td><img src="assets/img/gold.JPG" alt="" border=3 height=30 width=30></img>1</td>
<td>Abhishek</td>
<td>360</td>
<td>19</td>
</tr>
<tr>
<td><img src="assets/img/silver.JPG" alt="" border=3 height=30 width=30></img>2</td>
<td>Amit</td>
<td>290</td>
<td>16</td>
</tr>
<tr>
<td><img src="assets/img/bronze.JPG" alt="" border=3 height=30 width=30></img>3</td>

<td>Rahul</td>
<td>270</td>
<td>13</td>
</tr>
<tr>
<td>4</td>
<td>Neha</td>
<td>260</td>
<td>12</td>
</tr>
<tr>
<td>5</td>
<td>Mohit</td>
<td>120</td>
<td>4</td>
</tr>
</tbody>
</table>
            </div>
          </div> 

        </div>

      </div>
    </section>

    <section id="cta">
      <div class="container">
        <div class="row text-center">         
            <h3 class="title-small wow bounce" data-wow-duration="1000ms" data-wow-delay="300ms">Join Us Today and Change Yourself</h3>
             <!--<a href="javascript:void(0)" class="btn btn-lg btn-border">Sign Up</a>-->
             <div class="fb-messengermessageus" 
         messenger_app_id="841409782660870" 
         page_id="1167219169966339" 
         color="white"
         size="large">
    </div>
          </div>
      </div>
    </section>

    <br />
    <section id="other-features">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">FUTURE PERSPECTIVES</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">Who seeks after it and wants to have it</h2>
        </div> 
        <div class="row">
          <div class="col-md-2 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="features-content">
              <div class="icon hi-icon-effect-3b">
                <i class="mdi-action-settings"></i>
              </div>
              <h3>Image Processing</h3>
              <p>We'll process the image with automated system which will authenticate the images uploaded by the user.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-action-lock-outline"></i>
              </div>
              <h3>StandAlone App</h3>
              <p>As of now, we have used facebook messenger as a platoform because of large user base to tell others to use our application and help others.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-file-cloud-queue"></i>
              </div>
              <h3>Food management</h3>
              <p>We will provide the food to the needy ones with a simplpified game as well. </p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-social-person-outline"></i>
              </div>
              <h3>Analtyics</h3>
              <p>We also have a plan to implement this in near future.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1200ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-action-grade"></i>
              </div>
              <h3>Moderator Automation</h3>
              <p>As of now, human will intervene to authenticate the images uploaded by the user, but in future this system will be automated.</p>
            </div>
          </div>          
          <div class="col-md-2 col-sm-6 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1600ms">
            <div class="features-content">
              <div class="icon">
                <i class="mdi-communication-messenger"></i>
              </div>
              <h3>Integration with Pokemon Go</h3>
              <p>There will be integration with pokemon go.</p>
            </div>
          </div>         
        </div>
      </div>
    </section>    


    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2 class="section-title">That's Where We Are</h2>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-maps-map"></i>
                  </div>
                  <h4>Location</h4>
                  <p>Noida, India</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-content-mail"></i>
                  </div>
                  <h4>Email</h4>
                  <p>help-desk@gocleanindia.com</p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-action-settings-phone"></i>
                  </div>
                  <h4>Phone Number</h4>
                  <p>+91 9958546267</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="info">
                  <div class="icon">
                    <i class="mdi-action-thumb-up"></i>
                  </div>
                  <h4>Social Media</h4>
                  <p>@GoCleanIndia</p>
                </div>
              </div>
            </div>
          </div>
          <p ng-show="showthanks">Thanks for writing valuable feedback.</p>
          <div  ng-show="!showthanks" class="col-md-6 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">            
            <h2 class="section-title">Love to Hear From You</h2>
            <!-- Form -->
            <form class="contact-form" role="form" name="feedbackform" method="post" id="feedbackform"" ng-model = "feedbackform">
              <i class="mdi-action-account-box"></i>
              <input type="text" class="form-control" id="feedbackname" name="name" placeholder="Name" ng-model="feedbackform.username">
            
              <i class="mdi-content-mail"></i>
              <input type="email" class="form-control" id="feedbackemail" name="EMAIL" placeholder="Email" ng-model="feedbackform.email">                  
                                    
              <textarea class="form-control" placeholder="Message"  id="feedbackmsg" rows="4" ng-model="feedbackform.feedbackmessage"></textarea>              
              <button type="button" ng-disabled="feedbackform.$invalid" ng-click = "submitfeedback(feedbackform)" id="submit" class="btn btn-lg btn-primary">Send Massage</button>
              <div id="success" style="color:#3F51B5;">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>    
<div style="height:500px;width:1400px;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=garbage+noida+sector+62&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-code-enabler" href="http://www.szablonypremium.pl/website" id="make-map-information">motywy html</a><style>#embedded-map-display .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=d4d147fe-de6e-fb6d-0146-3389740cdd60&c=google-map-code-enabler&u=1470477531" defer="defer" async="async"></script>
    <!--<div class="map-area">      
      <div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6853.31334931688!2d149.5710983929677!3d-33.43399308961885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x63680231a1016da2!2sWestern+Region+Academy+of+Sport!5e0!3m2!1sen!2sbd!4v1436826340086" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
       </div>-->
    </div>    
    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright-text">
             © A.R.M.A.N. 2015 All right reserved. Designed and Developed by 
              <a href="javascript:void(0)">
                GoCleanIndia
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>     
    </div>

    <script>      
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '95100348886',
          xfbml      : true,
          version    : 'v2.6'
        });
      };
 
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));      
    </script>
 