<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>        
        <!--<add key="gocleanWebUrl" value="http://gocleanexzeoindia.com/" />-->
        
        <!--directory-->
        <add key="__dir" value="D:\\Project\\knockthon-A.R.M.A.N\\www\\" />
        <add key="globalLibsDir" value="D:\\Project\\knockthon-A.R.M.A.N\\www\\Libs\\node_modules\\" />
        <add key="globalConfigDir" value="D:\\Project\\knockthon-A.R.M.A.N\\www\\Config\\" />
        <add key="globalServerView" value="Server\\Views\\" />
        <add key="globalServerRoutes" value="Server\\Routes\\" />
        <add key="globalServerControllers" value="Server\\Controllers\\" />
    </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
	</system.web>
	<system.webServer>
		<!--app.js is a node.js application entry point.-->
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>		
		<rewrite>
			<rules>
				<rule name="sendToNode">
					<match url="/*" />
					<action type="Rewrite" url="app.js" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>